[user]
	email = rpq@winscores.com
	name = ramon quezada
[core]
	excludesfile = /home/rpq/.gitignore
	editor = vim
[color]
	ui = true
[alias]
    ctv = commit -v
	ctav = commit -av
    ctv = commit -v
	ctam = commit -am
	ba = branch -av
	s = status -v
	co = checkout
	st = status
	l1 = log --oneline
    ls = log --stat
	ct = commit
    lf = "!sh -c \"git log --stat $1 -1\""
