[user]
	email = rpq@winscores.com
	name = ramon quezada
[core]
	excludesfile = /home/rpq/.gitignore
	editor = vim
[color]
	ui = true
[alias]
	ctav = commit -av
	ba = branch -av
	s = status -v
	co = checkout
	st = status
	l1 = log --oneline
